  {
    "timestamp": "$date.get('yyyy-dd-MM')T$date.get('HH:mm:ss.SSS')Z",
    "fqdn": "$fqdn",
    "deviceip": "$hostip",
    "action": "Card Declined",
    "user": "$otheruser",
    "item": $food,
    "price": $random.nextInt(6).99
  }
