  {
    "timestamp": "$date.get('yyyy-MM-dd')T$date.get('HH:mm:ss.SSS')Z",
    "fqdn": "$fqdn",
    "deviceip": "$hostip",
    "action": "Purchase",
    "user": "$otheruser",
#set ($food =  $random.nextInt(30) + 1)
    "foodType": $food,
    "price": $random.nextInt(6).99
  }
